<div class="po-xl-6 po-offset-xl-3">
  <div class="po-m-4">
    <po-button p-label="Nova Tarefa" p-kind="primary" (p-click)="poModal.open()"></po-button>
    <po-table [p-items]="todoList" [p-columns]="columns"></po-table>
    <po-modal #poModal p-title="PO Modal">
      <form [formGroup]="todoForm" (ngSubmit)="handleSubmit()">
        <po-input formControlName="name" p-label="Nome"></po-input>
        <po-input formControlName="description" p-label="Descrição"></po-input>
      </form>
      <po-modal-footer>
        <po-button p-label="Close" (p-click)="handleCloseModal()"> </po-button>
        <po-button p-label="Confirm" p-kind="primary" (p-click)="handleSubmit()"> </po-button>
      </po-modal-footer>
    </po-modal>
  </div>
</div>